body{
    font-size: 15px;
    background-color: #8f8fdf;
}
.container {
    text-align: center;
    margin-top: 23px;
}

h1 {
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
}

table {
    margin: auto;
}

input {
    font-size: 34px;
    border: 10px solid #244624;
    border-radius: 21px;
    padding-left: 15px;
    height: 65px;
    width: 456px;
}

button {
    font-size: 20px;
    background: #978fa0;
    width: 102px;
    height: 60px;
    margin: 5px;
}

.calculator {
    border: 5px solid #13695d;
    display: inline-block;
    background-color: #1d1d1d;
    padding: 25px;
    border-radius: 50px;
}